<footer class="bg-red-950 bottom-0 w-full">
  <div class="max-w-screen-lg m-auto py-2 flex flex-col md:flex-row justify-between items-center">
    <div class="flex items-center justify-center gap-2">
      <img
        class="w-8"
        src="../../../assets/imgs/brasão luzia_corrigido.1 (2).png"
        alt="Imagem igreja"
      />
      <h3 class="uppercase font-bold text-white">
        Planejamento Catecumenato Eucarístico
      </h3>
    </div>
    <div class="flex gap-2 items-center">
      <div class="flex gap-3">
        <a target="_blank"
          href="https://www.instagram.com/psluzia.catequese.sjo?utm_source=qr&igsh=eGlvcm56N294c2Zqs"
          class="rounded-full pointer p-2 flex justify-center transition-colors duration-300 items-center w-8 h-8 bg-white  hover:bg-gray-900 active:bg-gray-800 active:text-white/80 lg:block">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a
        href="#"
        class="rounded-full pointer p-2 flex justify-center transition-colors duration-300 items-center w-8 h-8 bg-white  hover:bg-gray-900 active:bg-gray-800 active:text-white/80 lg:block">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="#" class="rounded-full pointer p-2 flex justify-center align-middle transition-colors duration-300 items-center w-8 h-8 bg-white  hover:bg-gray-900 active:bg-gray-800 active:text-white/80 lg:block">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </div>
      <div class="flex flex-col uppercase">
        <p class="text-sm text-white">Siga Nas Redes Sociais</p>
        <p class="text-sm text-white">Igreja de São José Operário</p>
      </div>
    </div>
  </div>
  <div class="m-auto flex py-3 justify-center items-center bg-black">
    <p class="text-white text-center">Copyright © 2024 - <a class="pointer" target="_blank" href="https://www.instagram.com/jhonyalf084/">Jhony Alife</a></p>
  </div>
</footer>
