<section class="max-w-screen-lg my-4 mx-auto">
  <h2 class="text-center font-bold p-4 m-12 uppercase text-gray-500">
    Tempos Religiosos
  </h2>

  <div class="p-3">
    <div class="flex items-center">
      <i class="fa-solid fa-arrow-right"></i>
      <h3 class="font-bold p-2 m-8 uppercase text-gray-500">
        Pré-Catecumanato / Querigma
      </h3>
    </div>

    <p
      class="text-gray-700 text-base text-justify font-normal leading-relaxed py-4"
    >
      O pré-catecumenato é um período de formação e preparação para a conversão
      e a entrada na Igreja Católica. Ele é uma etapa importante no processo de
      formação cristã, que precede a ordenação dos catecúmenos e a celebração do
      Batismo. O pré-catecumenato é caracterizado por uma série de reuniões e
      atividades que visam a preparar os candidatos para a conversão e a entrada
      na Igreja. Durante este período, os participantes são apresentados à
      doutrina cristã, à história da Igreja e às práticas litúrgicas. Eles
      também têm a oportunidade de conhecer melhor os membros da comunidade
      eclesial e de estabelecer laços de amizade e apoio. O pré-catecumenato é
      uma oportunidade para os candidatos refletirem sobre suas vidas e seus
      valores, e para que eles possam começar a construir uma base sólida para
      sua fé. Ele é também um tempo para que os participantes possam se preparar
      para a responsabilidade de ser membros da Igreja e de viver de acordo com
      os ensinos de Jesus Cristo. O pré-catecumenato é uma etapa importante no
      processo de formação cristã, pois permite que os candidatos sejam
      preparados para a ordenação e para a vida cristã. Ele é uma oportunidade
      para que eles possam se fortalecer espiritualmente e para que possam
      começar a construir uma vida baseada nos valores da Igreja.
    </p>
  </div>

  <div class="p-3">
    <div class="flex items-center">
      <i class="fa-solid fa-arrow-right"></i>
      <h3 class="font-bold p-2 m-8 uppercase text-gray-500">Catecumenato</h3>
    </div>

    <p
      class="text-gray-700 text-base text-justify font-normal leading-relaxed py-4"
    >
      O catecumenato é o período de formação e preparação intensiva para a
      ordenação e a entrada na Igreja Católica. Ele é a etapa final do processo
      de conversão e é caracterizado por uma série de reuniões, estudos e
      atividades que visam a preparar os candidatos para a vida cristã. Durante
      o catecumenato, os participantes recebem uma formação mais profunda sobre
      a doutrina cristã, a história da Igreja e as práticas litúrgicas. Eles
      também têm a oportunidade de refletir sobre suas vidas e valores, e de se
      preparar para a responsabilidade de ser membros da Igreja. O catecumenato
      é dividido em várias etapas, incluindo:
    </p>
    <ol>
      <li
        class="text-gray-700 text-base text-justify font-normal leading-relaxed py-2"
      >
        <b>Iniciação:</b> Nessa etapa, os candidatos são apresentados à doutrina
        cristã e à história da Igreja. Eles também começam a aprender sobre as
        práticas litúrgicas e a celebração dos sacramentos.
      </li>
      <li
        class="text-gray-700 text-base text-justify font-normal leading-relaxed py-2"
      >
        <b>Catequese:</b> Nessa etapa, os candidatos recebem uma formação mais
        profunda sobre a doutrina cristã e as práticas litúrgicas. Eles também
        têm a oportunidade de refletir sobre suas vidas e valores.
      </li>
      <li
        class="text-gray-700 text-base text-justify font-normal leading-relaxed py-2"
      >
        <b>Preparação para o Batismo:</b> Nessa etapa, os candidatos se preparam
        para a ordenação e a celebração do Batismo. Eles também começam a
        aprender sobre as responsabilidades e os deveres que vêm com a vida
        cristã.
      </li>
    </ol>
    <p
      class="text-gray-700 text-base text-justify font-normal leading-relaxed py-4"
    >
      O catecumenato é uma etapa importante no processo de formação cristã, pois
      permite que os candidatos sejam preparados para a vida cristã e para a
      responsabilidade de ser membros da Igreja. Ele é uma oportunidade para que
      eles possam se fortalecer espiritualmente e para que possam começar a
      construir uma vida baseada nos valores da Igreja.
    </p>
  </div>

  <div class="p-3">
    <div class="flex items-center">
      <i class="fa-solid fa-arrow-right"></i>
      <h3 class="font-bold p-2 m-8 uppercase text-gray-500">
        PURIFICAÇÃO E ILUMINAÇÃO
      </h3>
    </div>

    <p
      class="text-gray-700 text-base text-justify font-normal leading-relaxed py-4"
    >
      O tempo de Purificação e Iluminação é a terceira etapa do processo de
      iniciação cristã, que acontece após o Catecumenato. Neste período, os
      catecúmenos se preparam intensamente para receber os sacramentos da
      Iniciação Cristã (Batismo, Confirmação e Eucaristia).
      <br>
      Algumas características deste tempo:
    </p>
    <ul class="list-disc ml-6">
      <li class="text-gray-700 text-base text-justify font-normal leading-relaxed py-2">
        É marcado por uma purificação e iluminação espiritual mais profunda,
        através de uma catequese mistagógica que leva os catecúmenos a uma
        adesão existencial a Jesus Cristo
      </li>
      <li class="text-gray-700 text-base text-justify font-normal leading-relaxed py-2">
        Inclui ritos importantes como o Rito de Eleição, no qual os catecúmenos
        são escolhidos para receber os sacramentos, e os Escrutínios, ritos de
        exorcismo que os ajudam a se libertar do pecado e a se fortalecer no
        espírito
      </li>
      <li class="text-gray-700 text-base text-justify font-normal leading-relaxed py-2">
        Nesta etapa, os catecúmenos participam de uma catequese mais intensa
        sobre os sacramentos que irão receber, aprofundando seu conhecimento dos
        mistérios da salvação
      </li>
      <li class="text-gray-700 text-base text-justify font-normal leading-relaxed py-2">
        Culmina com a celebração dos sacramentos da Iniciação Cristã na Vigília
        Pascal, quando os catecúmenos se tornam neófitos (recém-batizados)
      </li>
      <li class="text-gray-700 text-base text-justify font-normal leading-relaxed py-2">
        Após os sacramentos, inicia-se o quarto tempo, chamado Mistagogia, no
        qual os neófitos aprofundam sua experiência dos mistérios celebrados e
        sua inserção na vida da Igreja
      </li>
    </ul>
    <p class="text-gray-700 text-base text-justify font-normal leading-relaxed py-4">Portanto, o tempo de Purificação e Iluminação é um período de preparação final e intensa para a recepção dos sacramentos, marcado por uma catequese mistagógica e por ritos que purificam e iluminam os catecúmenos espiritualmente, preparando-os para se tornarem membros plenos da Igreja.</p>
  </div>

  <div class="p-3">
    <div class="flex items-center">
      <i class="fa-solid fa-arrow-right"></i>
      <h3 class="font-bold p-2 m-8 uppercase text-gray-500">
        Mistagogia
      </h3>
    </div>

    <p
      class="text-gray-700 text-base text-justify font-normal leading-relaxed py-4"
    >
    A mistagogia é um termo que se refere à arte de formar e educar os fiéis para uma melhor compreensão e vivência dos mistérios da fé cristã. Ela é caracterizada por uma abordagem pedagógica que busca unir o tripé litúrgico: mistério, celebração e vida, para que os fiéis possam compreender melhor os sacramentos e a celebração litúrgica.
    <br />
    <br />
    A mistagogia é uma prática antiga que remonta aos Padres da Igreja, que a utilizavam para preparar os catecúmenos para a recepção dos sacramentos de iniciação cristã (Batismo, Crisma e Eucaristia). Essa prática era fundamental para a formação espiritual dos fiéis, pois ajudava a unir a fé e a vida, tornando a celebração litúrgica uma experiência mais profunda e transformadora.
    <br />
    <br />
    A mistagogia é uma via antiga e sempre nova, pois é renovada e animada pelo Espírito Santo. Ela é fundamental para a formação cristã, pois permite que os fiéis sejam conduzidos ao mistério de Deus e de seu Reino, revelado em Jesus Cristo. A mistagogia é uma arte de formar para o mistério, e seu objetivo é levar o catecúmeno a viver e a experienciar o mistério Pascal de Cristo Jesus.
    <br />
    <br />
    A mistagogia é também uma prática que se encontra ligada à Liturgia, pois é dentro da celebração litúrgica que os mistérios da vida de Jesus Cristo são celebrados e vividos. A mistagogia é uma forma de penetrar no mistério celebrado e de unir a fé e a vida, tornando a celebração litúrgica uma experiência mais profunda e transformadora. <br />
    Em resumo, a mistagogia é uma arte de formar e educar os fiéis para uma melhor compreensão e vivência dos mistérios da fé cristã. Ela é uma prática antiga que remonta aos Padres da Igreja e é fundamental para a formação espiritual dos fiéis.
    </p>
  </div>
</section>
